.fsize{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* .header {
    margin: 50px;
} */

#header {
    background-color: white;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    max-width: 200px
}

.header_menu {
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #222222;
    padding: 50px 25px 50px 25px;
    font-size: 15px;
}

a.no-color-change {
    color: #222222;
    text-decoration: none;
}

.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="mail"],
input[type="password"],
input[type="date"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.mypage {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mypage:hover {
    background-color: #45a049;
}

.mypage_container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: gray;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: darkgray;
}